.photo-grid{
    max-width: 1440px;
    margin: 118px auto 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 16px;
}

@media only screen and (max-width: 768px) { 
    /* For tablets: */
    .photo-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
  }

  @media only screen and (max-width: 320px) { 
    /* For mobile phones: */
    .photo-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 16px;
        margin: 92px 16px 64px;
    }
  }