.group{
    height: 254px;
    width: 656px;
    z-index: 1;
    margin: auto;
    text-align: center;
}


@media only screen and (max-width: 320px) { 
    /* For mobile: */
    .group{
        width: 288px;
        height: 163px;
    }
  }