.lead__subtitle{
    max-width: 720px;
    margin: 32px auto 64px;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

@media only screen and (max-width: 320px) { 
    /* For mobile phones: */
    .lead__subtitle{
        font-size: 16px;
        line-height: 20px;
        margin: 16px auto 40px;
    }
  }