.cover{
    background: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 50%)),url(../../images/__background.png);
    background-size: cover;
    height: 740px;
    width: 100%;
    margin: auto;
    z-index: 0;
    display: flex;
}

.cover:hover{
    background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),url(../../images/__background.png);
    background-size: cover;
    height: 740px;
    width: 100%;
}

@media only screen and (max-width: 320px){
    .cover {
        height: 254px;
        width: 320px;
    }
}
